.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.loading {
  color: brown;
}
@media (max-width: 1232px) {
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 950px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 630px) {
  .products {
    display: grid;
    grid-template-columns: 1fr;
  }
}
